# byte-compiled
__pycache__/

# Mac OS
.DS_Store

# VScode
.vscode/

# IntelliJ
.idea/

# virtual envs
venv*
.venv

# pip install files
*.egg-info/
build/

# temporary files
tmp*

# miscellaneous run files
slurm*
*.job
*_c_*.csv
*_xc_*.csv
